{% extends 'myapp/base.html' %}

{% block title %}
Добавление изображений
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="my-4">Добавить изображение</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Добавление изображений -->
            <label for="image">Добавить изображение:</label>
            <input type="file" name="image" id="image">
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>

    </div>

{% endblock %}



